.root {
    -fx-background-color: #F7FBF2;
}
#gpanemain{ /*-fx-background-image: url("Blue-Background-86.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-te: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;*/
    -fx-background-color: #ffd5cd;

}
#gpane{
    /*
    -fx-background-image: url("Blue-Background-86.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
    -fx-background-color: #f3b3c3;

}

#scrollpane > .viewport {
    -fx-background-color: transparent;
}

#scrollpane{
    -fx-background-color: #ffffff;
}

#loginBox{
    -fx-background-color: #ffffff;
    -fx-background-radius: 12px;
}

#listBox{
    -fx-background-color: #ffffff;
    -fx-background-radius: 12px;
}

.label{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #aa1006;
    -fx-opacity: 0.6;
}
#regBtn{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(29, 29, 29, 0.86);
    -fx-opacity: 1.0;
}

#regBtn:hover{
    -fx-text-fill: #59AAA9;
}

#labelLogo {
    -fx-font-size: 35pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba(16, 0, 3, 0.86);
    -fx-opacity: 1.0;
    -fx-background-image: url('http://icons.iconarchive.com/icons/icons8/windows-8/32/Data-Timeline-icon.png');
    -fx-background-size:30,15;

    -fx-background-repeat: no-repeat;
    -fx-background-position: left;


}

#createlabelLogo{
    -fx-font-size: 50pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba(29, 29, 29, 0.86);
    -fx-opacity: 1.0;
}

#newTimelineButton{
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-radius: 15px;
    -fx-background-radius: 11px;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-max-height: 15px;
    -fx-background-color: #59AAA9;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1.0;
}

#newTimelineButton:hover{
    -fx-background-color:  #59AAA9;
}


#labelID{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #42b8dd;
    -fx-opacity: 0.6;
}

#timelineLabel {
    -fx-font-size: 18pt;
    -fx-text-fill: #CC617C;
    -fx-opacity: 1;
}

#popPane{
    -fx-background-color: #ef57ff;
    -fx-opacity: 0.7;
}


.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #CC617C;
    -fx-opacity: 1;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-radius: 15px;
    -fx-background-radius: 11px;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-max-height: 15px;
    -fx-background-color: #59AAA9;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1.0;
}

.button:hover {
    -fx-background-color: #72c6c5;
}

.button:pressed, .button:default:hover:pressed {

}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

#dayViewPane{
    -fx-background-color: #49d9d3;
    -fx-border-color: #2bacd9;
    -fx-opacity: 0.5;

    -fx-background-radius: 12px;

    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-position: absolute;

    -fx-width: 50px;
    -fx-height: 50px;
    -fx-padding: 13px;
    -fx-color: #3f7dc7;




}

#dayPane{
    -fx-background-color: #fdffff;
    -fx-border-color: #75ff44;
}

#dayLabel{
    -fx-text-fill: #ac090d;
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
}
#eventButton{
    -fx-border-width: 2;
    -fx-border-radius: 15px;
    -fx-background-radius: 11px;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-max-height: 15px;
    -fx-background-color: #59AAA9;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1.0;

}